// Cores principais
$primary: #d83236;
$secondary: #6b6b6b;
$dark: #1c1919;
$light: #f7f7f7;


// Tipografia
$font-family-base: 'Montserrat', sans-serif;
$font-family-heading: 'Montserrat', sans-serif;

// Espaçamentos
$paragraph-margin-bottom: 0;
$headings-margin-bottom: 0;
