// src/css/abstracts/_variables.scss

// Cores principais
$primary: #d83236;
$secondary: #6b6b6b;
$dark: #1c1919;
$light: #f7f7f7;


// Tipografia

// Espaçamentos
$spacer: 1rem;
$border-radius: 4px;
