.background-agenda{
    background-image: url("/web/dist/assets/images/background-agenda.png");
    background-size: cover;
    height: 100vh;
}

.text-agenda{
    color: $light;
    text-shadow: 1px 3px $dark;
}
