.background-home {
    background-image: url("/web/dist/assets/images/background-home.png");
    background-repeat: no-repeat;
    background-size: auto;
}

.store {
    background-image: url("/web/dist/assets/images/background-store.png");
    background-repeat: no-repeat;
    background-size: auto;
    height: 100vh;
}