.background-header{
    background-image: url("/dist/assets/images/background-home.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-shadow {
    text-shadow: 0px 2px $dark;
}

@media (min-width: 991px) {
    .background-agenda{ 
        background-image: url("/dist/assets/images/background-agenda.png");
        background-size: cover;
        height: 100vh;
    }
    
}