.main-container {
  padding: 2rem;
  overflow-x: hidden;

  @media (min-width: 992px) {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

    .container-play {
      display: flex;
      align-items: end;
      gap: 2rem;

      flex-direction: column;
      width: 100%;

      .streamer {
        width: 85%;
        height: 20%;
        ul {
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 100%;

          li {
            height: 100%;

            a {
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
            }

            img {
              margin: auto;
            }
          }
        }
      }
    }
  }

  .play-list {
    display: none;

    @media (min-width: 992px) {
      display: block;
      text-align: center;
      background-color: $dark;
      color: $light;
      width: 25%;
      height: 85%;
      border-radius: 0 3rem 3rem 0;
      font-weight: bold;
      padding: 1.5rem;

      h1 {
        font-weight: bold;
      }

      select {
        width: 75%;
        padding: 0.5rem;
        text-align: center;
        outline: none;
        border-radius: 0.5rem;
        background-color: $primary;
        color: $light;
        font-weight: bold;
        margin: 1rem 0;
      }

      ul {
        list-style: none;
        color: $secondary;
        cursor: pointer;

        li:hover {
          color: $light;
          transition: color 0.3s;
        }
      }
    }
  }

  .music-play {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: $dark;
    width: 100%;
    border-radius: 2rem;
    padding: 2rem;

    @media (min-width: 992px) {
      width: 85%;
      height: 60%;
      border-radius: 3rem 0 0 3rem;

      .container-display {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .container-controls {
          width: 100%;
          display: flex;
          position: relative;

          .container-info {
            text-align: center;
            flex-grow: 1;

            display: flex;
            justify-content: center;
            gap: 2rem;
          }

          .control {
            display: flex;
            gap: 3rem;
            justify-content: center;
          }

          .volume-control {
            transform: rotate(270deg);
            display: flex;

            #volume-slider {
              appearance: none;
              align-self: center;
              height: 4px;
              background-color: $secondary;
            }

            #volume-slider::-webkit-slider-thumb {
              appearance: none;
              width: 20px;
              height: 20px;
              background-color: $primary;
              border-radius: 50%;
            }
          }
        }
      }
    }

    .progress-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 1rem;
      color: $light;

      .current-time,
      .total-time {
        width: 50px;
        text-align: center;
      }

      .progress-bar {
        flex-grow: 1;
        height: 8px;
        background-color: $secondary;
        border-radius: 4px;
        overflow: hidden;
        margin: 0 10px;

        .progress {
          background-color: $primary;
          border-radius: 4px;
          transition: width 0.3s ease;
        }
      }
    }

    .container-controls {
      width: 100%;

      .container-info {
        display: flex;
        text-align: center;
        flex-direction: column;
      }

      .control {
        display: flex;
        gap: 2.5rem;
        justify-content: center;

        img {
          width: 2rem;
        }
      }

      .volume-control {
        display: none;
      }
    }

    .play-list-mobile {
      display: block;
      width: 100%;
      color: $light;
      padding: 1rem;
      text-align: center;
      font-weight: bold;

      h1 {
        font-weight: bold;
      }

      select {
        width: 75%;
        padding: 0.5rem;
        text-align: center;
        outline: none;
        border-radius: 0.5rem;
        background-color: $primary;
        color: $light;
        font-weight: bold;
        margin: 0.75rem 0;
      }

      ul {
        list-style: none;
        color: $secondary;
        cursor: pointer;

        li:hover {
          color: $light;
          transition: color 0.3s;
        }
      }

      @media (min-width: 992px) {
        display: none;
      }
    }
  }
}
